<!-- Почему нас выбирают-->
<section class="section choice-section">
  <div class="container">
    <h2 class="choice-section-title">Почему нас выбирают</h2>
    <ul class="choice-list list">
      <li class="choice-item">
        <span class="choice-item-link"> 01 </span>
        <h3 class="choice-link-title">Обучение в малых командах</h3>
      </li>
      <li class="choice-item">
        <span class="choice-item-link"> 02 </span>
        <h3 class="choice-link-title">Визуализированные конспекты</h3>
      </li>
      <li class="choice-item">
        <span class="choice-item-link"> 03 </span>
        <h3 class="choice-link-title">
          Каждое занятие имеет цель и конкретный результат
        </h3>
      </li>
      <li class="choice-item">
        <span class="choice-item-link"> 04 </span>
        <h3 class="choice-link-title">Ревльные результаты преподавателя</h3>
      </li>
      <li class="choice-item">
        <span class="choice-item-link"> 05 </span>
        <h3 class="choice-link-title">
          Прогамма курса соответствует требованиям МОН Украины
        </h3>
      </li>
      <li class="choice-item">
        <span class="choice-item-link"> 06 </span>
        <h3 class="choice-link-title">Набор команд по уровням знаний</h3>
      </li>
    </ul>
  </div>
</section>
