<div class="dark-background">
  <section class="section programs">
    <div class="container program">
      <h2 class="title-programs">Наша программа</h2>

      <div class="vl">
        <ul class="list-program">
          <li class="circle">
            <h3 class="link-program">1 семестр</h3>
            <ul class="item-program">
              <li class="item-card">
                <p class="title-card">Grammar</p>
                <p class="text-card">
                  Nouns & Articles<br />Adjectives & Adverb
                </p>
              </li>
              <li>
                <p class="title-card">Vocabulary</p>
                <p class="text-card">
                  Family & Relations<br />People & Society
                </p>
              </li>
            </ul>
          </li>

          <li class="circle">
            <h3 class="link-program">2 семестр</h3>
            <ul class="item-program">
              <li>
                <p class="title-card">Grammar</p>
                <p class="text-card">
                  Pronouns<br />Active Voice<br />Passive Voice
                </p>
              </li>
              <li>
                <p class="title-card">Vocabulary</p>
                <p class="text-card">Home<br />School<br />Work</p>
              </li>
            </ul>
          </li>

          <li class="circle">
            <h3 class="link-program">3 семестр</h3>
            <ul class="item-program">
              <li>
                <p class="title-card">Grammar</p>
                <p class="text-card">
                  Modal verbs<br />Infinitive<br />Gerund<br />Participle: 1, 2
                </p>
              </li>
              <li>
                <p class="title-card">Vocabulary</p>
                <p class="text-card">
                  Travel & Tourism<br />Culture & Free<br />Time<br />Sport
                </p>
              </li>
              <li>
                <p class="title-card">Writing</p>
                <p class="text-card">Informal Letter</p>
              </li>
            </ul>
          </li>

          <li class="circle">
            <h3 class="link-program">4 семестр</h3>
            <ul class="item-program">
              <li>
                <p class="title-card">Grammar</p>
                <p class="text-card">
                  Clauses: Conditional and<br />Wishes<br />Direct / Reported
                  speech<br />Preposition<br />Conjunction<br />Numeral
                </p>
              </li>
              <li>
                <p class="title-card">Vocabulary</p>
                <p class="text-card">
                  Healthy Living<br />Nature & Environment<br />Money
                </p>
              </li>
              <li>
                <p class="title-card">Writing</p>
                <p class="text-card">Formal Letter</p>
              </li>
            </ul>
          </li>

          <li class="circle">
            <h3 class="link-program">5 семестр</h3>
            <ul class="item-program">
              <li>
                <p class="title-card"></p>
                <p class="text-card card">Revision<br />Tests</p>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </section>
</div>
