<header class="space-between">     
    <div class="container flex">
    <div class="center-position">
        <p class="logo">Hell
           <!-- <svg width="10" height="30">
                <use></use>
            </svg>  -->
            EN
        </p>
        <p class="text-style"> <span class="hell-style">Адский</span> английский </p>
    </div> 

        <nav class="flex-for-nav">
            <ul class="list navigation">
                <li class="guide"><a href="#" class="quide-link">Программы обучения</a></li>
                <li class="guide"><a href="#" class="quide-link"><span class="about-us">О нас</span></a></li>
                <li class="guide"><a href="#" class="quide-link">Варианты обучения</a></li>
                <li class="guide"><a href="#" class="quide-link">Контакты</a></li>
            </ul>
            <button class="button-main">Консультация по телефону</button>
        </nav>
    </div>
</header>
<!-- Блок герой -->
<section>
<div class="container-hero">
    <div class="position-inscr">
        <h1 class="inscription-style"> Комплексная подготовка к ВНО по английскому языку </h1>
        <p class="warnt">Просто не будет</p>
        <p class="quarantee">Но ты гарантировано наберешь <span class="hell-style">+25 баллов</span></p>
        <button class="desire-for-lesson">хочу на бесплатное занятие</button>
    </div>
    <img src="../src/images/head-photo-opt.jpg" alt="" width="700">
</div>
<!-- Секция со списком  -->
  <div class="container-methods">
    <ul class="list method">
        <li class="methods-item">
            <svg class="teacher-border">
                <use href="./images/sprite.svg#icon-teacher-border"></use>
            </svg> 
            <p class="promise">Адаптированная авторская программа ВНО</p>
        </li>
        <li class="methods-item">
            <svg   class="smartphone-border">
                <use href="./images/sprite.svg#icon-smartphone-border"></use>
            </svg> 
            <p class="promise"> Современные <br>методики обучения </p>
        </li>
        <li class="methods-item">
            <svg  class="dollar-border">
                <use href="./images/sprite.svg#icon-dollar-border"></use>
            </svg>
            <p class="promise"> Финансовая гарантия результата</p> 
        </li>
    </ul>
</div>
</section>
