<section class="reviews-section section container">
  <h2 class="section-title reviews-section-title">Отзывы выпускников</h2>
  <div class="reviews-container">
    <div class="rewiews-list-img">
      <img
        src="./reviews-section/Ellipse-8.jpg"
        alt="Тут картинка"
        width="90"
        height="90"
      />
    </div>
    <div class="rewiews-list-social">
      <a class="link" href="#">
        <svg width="30" height="30">
          <use href="./images/sprite.svg#icon-vk"></use>
        </svg>
      </a>
    </div>
    <ul class="list rewiews-list">
      <li class="rewiews-list-name"><span>Тоня Кучеровская</span></li>
      <li class="rewiews-list-release">
        <p>
          Выпуск 2015-го года, Національний університет біоресурсів і
          природокористування України
        </p>
      </li>
      <li class="rewiews-list-rewiews">
        <p>
          За короткий час занять з Оленою я опанувала граматику і поповнила свій
          зовсім пустий словниковий запас. З першого ж заняття я зрозуміла, що
          знаходжуся у своїй тарілці. Ми з Оленою стали друзями, тому що її
          справді хвилювала моя успішність. Вона стала для мене авторитетом,
          проте я не тремтіла на уроках, маючи страх зробити найменшу помилку.
          Зараз я можу похизуватись тим, що я студен ...
        </p>
      </li>
    </ul>
    <div class="rewiews-read-next">Читать дальше</div>
  </div>
  <div class="rewiews-input-container">
    <div class="rewiews-input-photo">
      <img
        src="./images/reviews-section/Ellipse-9.jpg"
        alt="Кар №1"
        width="54"
        height="54"
      />
      <img
        src="./images/reviews-section/Ellipse-10.jpg"
        alt="Кар №2"
        width="54"
        height="54"
      />
      <img
        src="./images/reviews-section/Ellipse-11.jpg"
        alt="Кар №3"
        width="54"
        height="54"
      />
      <button type="button" class="prev-button">
        <svg width="25" height="16">
          <use href="./images/sprite.svg#icon-arrow-left"></use>
        </svg>
      </button>
      <button type="button" class="next-button">
        <svg width="25" height="16">
          <use href="./images/sprite.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
