.button-main{
width: 336px;
height: 70px;
margin-left: 60px;
border: 3px solid $accent-color;

font-weight: bold;
font-size: 14px;
line-height: 1.2;

letter-spacing: 0.14em;
text-transform: uppercase;

color: $accent-color;

background: $white-bg-color;
cursor: pointer;
display: none; 

@include for-size(tablet-portrait) { 
    display: none;     
    width: 320px;
}

     @include for-size(tablet-landscape) { 
      display: flex;
      align-items: center;
      padding-left: 15px;    
     min-width: 260px;
     margin-left: 200px;
     
   }
   
      @include for-size(desktop) {      
      width: 336px;
      margin-left: 60px;
   }
}


.desire-for-lesson{
width: 100%;
height: 48px;

display: flex;
align-items: center;
height: 48px;
padding-left: 5px;

font-weight: bold;
font-size: 14px;
line-height: 1.2;

background: $accent-color;
color: $white-bg-color;
text-transform: uppercase;
border: transparent;
cursor: pointer;

@include for-size(desktop) {      
   width: 336px;
   height: 69px;
   display: flex;
   align-items: center;
   padding-left: 15px;
    letter-spacing: 0.14em; 
    
 }

 @include for-size(tablet-landscape) {      
      width: 336px;
      display: flex;
      align-items: center;
      padding-left: 20px;
      height: 69px;
 }
 
    @include for-size(desktop) {      
    width: 336px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    height: 69px;
    
 }
}
